@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html, body{
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    background-color: #474849;
    margin: 0;
    padding: 0;
    color: #bebdbd;
    text-align: center;
}

/******************************************* Colors ********************/

.colors-navbar{
    color: #bebdbd;
    background-color: #474849;
}

.dropdown-menu{
    background-color: #474849;
    color: #bebdbd;  
}

.dropdown-item.active{
    background-color: #333333;
}

.nav-item{
    background-color: #474849;
}

/* The below code was found on stackoverflow 
as a solution to get rid of the bootstrap blue on click 
(https://stackoverflow.com/a/54484583/14461213) */

.dropdown-item:active{
background-color: #515253;
}
/* code from here is my own */

.dropdown-item{
    color: #bebdbd;
}
/******************************************* Top Navbar ********************/

/* Fixed top nav bar and pushing content down */
.nav-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.chart-container{
    padding-top: 50px;
}

.dropdown-item{
    text-align: center;
}

.navbar-brand{
    font-size: 1.3rem;
}

.navbar-expand-md .navbar-collapse{
    justify-content: end;
}

/******************************************* Footer ********************/

footer{
    margin-top: 10px;
}

/************************************ Home ******************************/

/**** Carousel ****/

.carousel-inner{
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.image-1,
.image-2,
.image-3{
    height: 400px;
    width: 100%;
    position: relative;
}

/* opaque overlay */
.carousel-item{
    position: relative;
}
.image-overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.40)
}


.main-heading-1{
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 200;
}

.main-heading-3{
     position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 200;
}

.sub-heading-1{
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300; 

}



/******************************************* Index-Dash & Sector-Dash ********************/

.chart{
    min-height: 400px;
    margin: 10px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
}

    

}
.tradingview-widget-container{
    width: 100%;
    height: 100%;
}

/* Dolar Index charts */

#tradingview_3a7ec{
    width: 100%;
    height: 100%;
}

#tradingview_756c0{
    width: 100%;
    height: 100%;
}

/* Gold charts */

#tradingview_1a22b{
    width: 100%;
    height: 100%;
}

#tradingview_7db82{
    width: 100%;
    height: 100%;
}

/* Crude Oil charts */

#tradingview_fae5d{
    width: 100%;
    height: 100%;
}

#tradingview_41c37{
    width: 100%;
    height: 100%;
}

/* S&P 500 charts */

#tradingview_e13f2{
    width: 100%;
    height: 100%;
}

#tradingview_6baf4{
    width: 100%;
    height: 100%;
}

/* Dow Jones charts */

#tradingview_6bd7c{
    width: 100%;
    height: 100%;
}

#tradingview_21e45{
    width: 100%;
    height: 100%;
}

/* Russell 2000 charts */

#tradingview_44ffc{
    width: 100%;
    height: 100%;
}

#tradingview_d6af2{
    width: 100%;
    height: 100%;
}

/* Nasdaq 100 charts */

#tradingview_9ac06{
    width: 100%;
    height: 100%;
}

#tradingview_c2bf6{
    width: 100%;
    height: 100%;
}

/* Sector-dash */

/* Tech */
#tradingview_43d59{
    width: 100%;
    height: 100%;
}

/* Healthcare*/
#tradingview_f2804{
    width: 100%;
    height: 100%;
}

/* Real-Estate */
#tradingview_6dd7a{
    width: 100%;
    height: 100%;
}

/* Materials */
#tradingview_25d91{
    width: 100%;
    height: 100%;
}

/* Consumer Disc */
#tradingview_732f3{
    width: 100%;
    height: 100%;
}

/* Financials */
#tradingview_3c44e{
    width: 100%;
    height: 100%;
}

/* Energy */
#tradingview_e8131{
    width: 100%;
    height: 100%;
}

/* Industrials */
#tradingview_9ce10{
    width: 100%;
    height: 100%;
}

/* Utilities */
#tradingview_6b966{
    width: 100%;
    height: 100%;
}

/* Consumer Staples */
#tradingview_f4b64{
    width: 100%;
    height: 100%;
}

/* Telecom */
#tradingview_3f7d3{
    width: 100%;
    height: 100%;
}

/*************************************** Stock-Dash *********************/
.stock-chart{
    min-height: 600px;
    background-color: #474849;
    margin: 10px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
}

/* Any product chart */
#tradingview_c91cb{
    width: 100%;
    height: 100%;
}


.stock-dash-container{
    padding-top: 5px;
}

/*************************************** Intraday-Dash *********************/

/* Tickers */

.tickers{
    min-width: 200px;
    margin-bottom: -35px;
}

/* Mini chart */


.mini-chart{
    min-height: 200px;
    background-color: #fff;
    margin: 10px;
    border-radius: 4px;
}

/* $ index */
#tradingview_703ed{
    width: 100%;
    height: 100%;
}

/*Crude oil */
#tradingview_630ab{
    width: 100%;
    height: 100%;
}

/* Gold */
#tradingview_a170f{
    width: 100%;
    height: 100%;
}

/* Russell 2000 */
#tradingview_6827c{
    width: 100%;
    height: 100%;
}

/* S&P 500 */
#tradingview_d0687{
    width: 100%;
    height: 100%;
}

/* Nasdaq 100 */
#tradingview_d2daf{
    width: 100%;
    height: 100%;
}

.econ-row{
    min-height: 500px;
}

.econ-cal,
.news-feed{
    background-color: #fff;
    margin: 10px;
    border-radius: 4px;
}

.econ-cal{
    overflow: scroll;
}

