@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html, body{
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    background-color: #474849;
    margin: 0;
    padding: 0;
    color: #bebdbd;
    text-align: center;
}

/******************************************* Colors ********************/

.colors-navbar{
    color: #bebdbd;
    background-color: #474849;
}

/******************************************* Top Navbar ********************/



